# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next
.out
dist

# Env files (no subir nunca claves reales)
.env
.env.*
!.env.local.example

# Editor
.DS_Store
*.swp
.idea
.vscode
.env.local
*.zip
waydroid_script
.vercel
